.landing-page {

  .white-btn-nav {
    right: 4rem;
    top: 0;
    margin: 2rem;
    position: fixed;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.5s;
  }
  figure {
    margin: 0;
    height: 100vh;
    overflow: hidden;

    .cta-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 2;
      width: 100vw;

      .hero-image-text {
        color: #FFF;
        font-family: helveticaNeueBold;
        font-size: 2.8rem;
        text-align: center;
        letter-spacing: 0.3rem;
        margin: 0;
      }
      .hero-image-subtext {
        color: #FFF;
        font-family: helveticaNeueLight;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 0.2rem;
        line-height: 2rem;
        margin-top: 1rem;
      }
    }

    canvas {
      background-size: cover;
      filter: brightness(0.7);
    }
  }

  #superior-sound {
    min-height: 100vh;
    background-color: #D34848;
    display: flex;
    flex-direction: row;

    .cta-container {
      display: flex;
      flex-direction: column;

      .heading {
        font-size: 3rem;
        color: #FFF;
        letter-spacing: 0.3rem;
      }
      .subtext {
        color: #000;
        margin-top: 1rem;
        font-size: 2rem;
        letter-spacing: 0.3rem;
        font-family: helveticaNeueLight;
      }
    }
  }
}
