.landing-page {
  figure {
    margin: 0;
    height: 100vh;
    overflow: hidden;

    .cta-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 2;
      width: 100vw;

      .hero-image-text {
        color: #FFF;
        font-family: helveticaNeueBold;
        font-size: 2.8rem;
        text-align: center;
        letter-spacing: 0.3rem;
        margin: 0;
      }
      .hero-image-subtext {
        color: #FFF;
        font-family: helveticaNeueLight;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 0.2rem;
        line-height: 2rem;
      }
      .btn-container {
        position: absolute;
        width: 100vw;
        margin-top: 1.5rem;
        cursor: pointer;

        .try-now-big {
          width: 8rem;
          outline:0;
          border-radius: 50px;
          font-size: 0.8em;
          overflow: hidden;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          padding: 2.5em 3em;
          margin: auto;
          transition: all 500ms ease-in-out;
          &::after, &::before {
            content: "";
            position: absolute;
          }
          &:hover, &:focus {
            background: rgba(255, 255, 255, 1);
          }
          &::before {
            background: transparent;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 1),
                        4em 0em 2em 2em rgba(155, 50, 0, 1),
                        -4em -2em 2em 2em rgba(255, 0, 150, 1),
                        -4em 2em 2em 4em rgba(0, 0, 150, 1),
                        0 -3em 2em 3em rgba(120, 250, 0, 1),
                        2em -1em 2em 2em rgba(50, 10, 200, 1);
            width: 0;
            height: 0;
            animation: mix 5s linear infinite;
          }
        }
        .btn-text {
          width: 100%;
          text-align: center;
          color: #FFF;
          z-index: 2;
          letter-spacing: 0.15rem;
          font-weight: bold;
          position: absolute;
          padding-top: 0.5rem;
        }
      }

      @keyframes mix {

        30% {
          box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 1),
                      4em -1em 2em 3em rgba(255, 50, 0, 1),
                      -4em 2em 3em 2em rgba(155, 200, 0, 1),
                      -4em -2em 2em 2em rgba(200, 0, 150, 1),
                      0 3em 2em 2em rgba(20, 250, 0, 1),
                      2em 1em 2em 2em rgba(50, 10, 250, 1);
        }

        60% {
          box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 1),
                      3em 1em 2em 3em rgba(25, 150, 0, 1),
                      3em -2em 3em 3em rgba(155, 200, 0, 1),
                      -4em 2em 2em 3em rgba(200, 0, 50, 1),
                      0 -3em 2em 3em rgba(200, 250, 0, 1),
                      -2em 1em 2em 3em rgba(50, 210, 250, 1);
        }

      }
    }

    canvas {
      background-size: cover;
      filter: brightness(0.7);
    }
  }
}
