@font-face {
  font-family: 'helveticaNeue';
  src: url('./assets/Helvetica Neue.ttf');
}

@font-face {
  font-family: 'helveticaNeueLight';
  src: url('./assets/Helvetica Neue Light.ttf');
}

@font-face {
  font-family: 'helveticaNeueBold';
  src: url('./assets/Helvetica Neue Bold.ttf');
}

body {
  background-color: #000;
  overflow-x: hidden;
}

a:-webkit-any-link {
  color: #FFF;
  text-decoration: none;
}

.App {
  font-family: helveticaNeue;
}
